.App {
  text-align: center;
}

.image {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.gran {
  position: absolute;
  top: 67px;
  left: 946px;
  z-index: 2;
  opacity: .3;
}

.sjourn {
  position: absolute;
  top: 47px;
  left: 928px;
  z-index: 2;
  opacity: .3;
}

.test {
  z-index: 3;
  position: absolute;
  top: 67px;
  left: 946px;
  opacity: 1;
}

/* 
.gran:hover {
  opacity: 1;
} */

/* .sjourn:hover {
  opacity: 1;
} */

.open {
  opacity: 1;
}